.createpost-div-1 {
    text-align: center;
    width: 480px;
    height: 520px;
    border-radius: 10px;
    position: relative;
    color: white;
    background-color:#262626;
}

.createpost-div-1 .heading-1 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-bottom: 1px solid rgb(109, 109, 109);
}


.createpost-div-1 .img-logo {
    width: 120px;
    margin-top: 30%;
}

.createpost-div-1>h3 {
    font-weight: 400;
    padding: 10px;
}

.createpost-div-1>button {
    position: relative;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: #1877F2;
    color: white;
}

.createpost-div-1>.file-select {
    position: absolute;
    opacity: 0;
    z-index: 11;
    left: 170px;
    width: 150px;
}

.createpost-div-2{
    width: 480px;
    height: 520px;
    border-radius: 10px;
    position: relative;
    color: white;
    background-color:#262626;
}


.createpost-div-2 .heading-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(109, 109, 109);
}

.createpost-div-2 .img-preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.createpost-caption {
    width: 720px;
    height: 450px;
    background-color:#262626;
    border-radius: 10px;
}

.createpost-caption .heading-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(109, 109, 109);
}

.createpost-caption .caption-on{
    display: flex;
}

.createpost-caption .caption-on .img-preview{
    width: 70%;
    height: 100%;
    object-fit: cover;
}

