.home {
    position: relative;
    width: 100%;
    min-height: 1000vh;
    background-color: #000000;
}

.home-contents {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #000000;
}

.realtime-content {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: 240px;
}

.home-contents .createPost{
    background-color: rgba(13, 13, 13, 0.436);
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-contents .createPost .box{
    text-align: center;
    width: 480px;
    height: 520px;
    background-color:#262626;
    border-radius: 10px;
}

.home-contents .createPost .cancel{
    top: 40px;
    right: 50px;
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
}



.home-contents .createPost .box-comments-sections{
    background-color:#262626;
    width: 780px;
    height: 450px;
    border-radius: 10px;
}










