.scrollOff {
    overflow: hidden;
  }
  
  .scrollOn {
    overflow: auto;
  }

.home {
    position: relative;
    width: 100%;
    min-height: 1000vh;
    background-color: #000000;
}

.home-contents {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #000000;
}

.realtime-content {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: 240px;
}

.home-contents .createpost{
    width: 100%;
    position: absolute;
    z-index: 12;
}
















